* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas { background: #1e1e1e; display: block; }

.overlay {
    width: 800px;
    height: 600px;
    background: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 2px;
} 

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}